

#table1, #th1, #td1 {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    background-color:#82B08F;
    color: white
   
}

#table2, #th2, #td2{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    background-color:#9EB4A4;
    color: white;

}


#th1, #th2 {
    font-family: 'Courier New, Courier, monospace';
    background-color:white;
    color: #a1b473;
}

caption {
    color:#27733A;
    font-family:  monospace;
    text-align: center;
    padding: 30px;
    text-shadow:3px 3px #FFFFFF;
}

h1 {
    text-align: center;
    color:  #FFFFFF;
    background-color:#a1b473;
    box-shadow: 2px 2px 2px #FFFFFF;
}

body {
    background-color:#DCE1B9 ;
}

* {
    box-sizing: border-box;
  }

